[submodule "diffusion_tests"]
	path = diffusion_tests
	url = https://github.com/Polar-Team/diffusion-ansible-tests-role.git
[submodule "diffusion-molecule-container"]
	path = diffusion-molecule-container
	url = https://github.com/Polar-Team/diffusion-molecule-container.git
[submodule "terraform-provider-diffusion"]
	path = terraform-provider-diffusion
	url = https://github.com/Polar-Team/terraform-provider-diffusion.git
